@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Yeseva+One&display=swap');
body, option {
    font-family: 'Josefin Sans', sans-serif !important;
}

body {
    margin: unset;
}

h1, h2 {
    font-family: 'Yeseva One', cursive !important;
    margin: 0;
}

select, input{
    font-family: inherit;
}

#header-title {
    background: #00ff95;
    padding: 5px 25px;
    height: 70px;
    display: flex;
    align-items: center;
}

.whitespace {
    padding: 5px 25px;
    height: 110px;
    display: flex;
    align-items: center;
}

.fix-pos {
    position: fixed;
    top: 0;
    width: 100%;
}

#header-more {
    margin-top: 10px;
    margin-bottom: 5px;
}

#header-desc {
    background: #000;
    color: #ffffff;
    padding: 5px 25px;
    line-height: 130%;
} 

main {
    width: 60%;
    padding: 25px;
    border: 1px solid #79797941;
    border-radius: 5px;
    margin: 50px auto;
}

@media screen and (max-width: 1023px) {
    main {
        width: 90%;
    }
}

main h2 {
    margin-bottom: 20px;
}

main section {
    margin-bottom: 45px;
}

#biodata td {
    /* padding-bottom: 20px; */
    padding: 15px;
}

#biodata select {
    height: 40px;
}

/* #survey table {
    border: 0;
    border-collapse: collapse;
    width: 100%;
    display: block;
    overflow-x: scroll;
}

#survey table th {
    border: 1px solid #3d3d3d41;
    background: #000000;
    color: #ffffff;
    padding: 10px;
}

#survey table td {
    border: 1px solid #3d3d3d41;
    padding: 10px;
} */

#saran {
    margin-bottom: 20px;
}

#saran textarea {
    padding: 10px;
    font-size: 20px;
    max-width: 100%;
    margin-bottom: 5px;
}

@media screen and (max-width: 425px) {
    #saran textarea {
        font-size: 16px;
    }
}

input[type="submit"] {
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    font-weight: bold;
    background: #00ff95;
    border: 1px solid #00ff95;
    border: unset;
    height: 50px;
    width: 200px;
    transition: 0.1s ease;
}

input[type="submit"]:hover {
    background: #ffffff;
    color: #000;
    cursor: pointer;
    border: 1.5px solid #00ff95;
    transition: 0.3s ease-in-out;
}

input[type="submit"]:active {
    background: #eeeeee;
    color: #000;
    cursor: pointer;
    border: 1px solid #00d67d;
    transition: 0.3s ease-in;
}

footer {
    padding: 20px 25px 12px 25px;
    color: white;
    background: rgb(0, 0, 0);;
}

a {
    text-decoration: none;
}

footer a {
    color: #00ff95;
}

footer a:hover {
    color: #a9ffdb;
    text-decoration: underline;
}

#footer-cr {
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#footer-cr p {
    margin: 2px;
}